<header class="header">
    <div class="table-view">
        <div class="table__cell">
            <div class="contact">
                <a href="tel:">+38 (098) 555-66-77</a>
            </div>

            <a href="javascript:void(0)">
                <img src="img/logo.png" width="168" height="64" alt="logo">
            </a>

        </div>
        <div class="table__cell table__cell--bottom text-right">
            //= main-menu.html

            <div id="navIcon" class="visible-sm nav-btn">
                <span class="nav-btn__inner"></span>
                <span class="nav-btn__inner"></span>
                <span class="nav-btn__inner"></span>
                <span class="nav-btn__inner"></span>
            </div>
        </div>
    </div>
</header>