<nav class="navbar-bg">
    <ul class="nav navbar-nav">
        <li class="navbar-nav__item">
            <a href="#" class="navbar-nav__link">All Items</a>
        </li>
        <li class="navbar-nav__item">
            <a href="#" class="navbar-nav__link">WordPress</a>
        </li>
        <li class="navbar-nav__item">
            <a href="#" class="navbar-nav__link">Websites</a>
        </li>
        <li class="navbar-nav__item">
            <a href="#" class="navbar-nav__link">HTML</a>
        </li>
        <li class="navbar-nav__item">
            <a href="#" class="navbar-nav__link">Marketing</a>
        </li>
        <li class="navbar-nav__item">
            <a href="#" class="navbar-nav__link">CMS</a>
            <ul class="nav navbar-subnav">
                <li class="navbar-subnav__item">
                    <a href="javascript:void(0)" class="navbar-subnav__link navbar-subnav__link--title">CMS</a>
                </li>
                <li class="navbar-subnav__item">
                    <a href="#" class="navbar-subnav__link">Wordpress</a>
                </li>
                <li class="navbar-subnav__item">
                    <a href="#" class="navbar-subnav__link">OpenCart</a>
                </li>
                <li class="navbar-subnav__item">
                    <a href="#" class="navbar-subnav__link">Umi</a>
                </li>
                <li class="navbar-subnav__item">
                    <a href="#" class="navbar-subnav__link">Joomla</a>
                </li>
            </ul>
        </li>
        <li class="navbar-nav__item">
            <a href="#" class="navbar-nav__link">eCommerce</a>
        </li>
        <li class="navbar-nav__item">
            <a href="#" class="navbar-nav__link">UI Design</a>
        </li>
        <li class="navbar-nav__item">
            <a href="#" class="navbar-nav__link">Contacts</a>
        </li>
    </ul>
</nav>
